{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }} de {{program.title}}{% endblock %}

{% block body %}
    <h1>Saison #{{ season.number }} de {{program.title}}</h1>

    <h2>Episode #{{episode.number}} : {{episode.title}}</h2>

    <p>{{episode.synopsis}}</p>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}