{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }} de {{program.title}}{% endblock %}

{% block body %}
    <h1>Saison #{{ season.number }} de {{program.title}}</h1>

    <h2>Liste des épisodes de la saison #{{season.number}}</h2>
    {% for episode in episodes %}
        <div><a href="{{path('program_episode_show', {program: program.slug, season: season.id, episode: episode.slug })}}"> {{episode.number}}. {{episode.title}}</a></div>
    {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}